body{
background-color:white;
}

#mainpage, header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slogan{
    margin-top: 6vh;
    margin-bottom: 1vh;
    color:rgb(252, 148, 100);
}

#maintitle{
margin: 0;
font-size: 50px;
}

#navigation{
    display: flex;
    align-items: center;
    margin-top: 9vh;
}

.nav{
    background-color: rgb(230, 230, 230);
    margin: 0;
    padding: 2vh 2vw;
    border-width: 1px;
    border-style: solid;
}