body{
background-color:white;
}

#mainpage, header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slogan{
    margin-top: 6vh;
    margin-bottom: 1vh;
    color:rgb(252, 148, 100);
}

#maintitle{
margin: 0;
font-size: 50px;
}

#navigation{
    display: flex;
    align-items: center;
    margin-top: 9vh;
}

.nav{
    background-color: rgb(230, 230, 230);
    margin: 0;
    padding: 2vh 2vw;
    border-width: 1px;
    border-style: solid;
}

#postsection{
    margin-top: 2vh;
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr ;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;

}

.post{
    margin: 1vh 2vw;
    width: 48vw;
}